[bumpversion]
current_version = 0.1.0
commit = True
tag = True

[bumpversion:file:agent_connector_sdk/_version.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:README.md]
search = Package version: {current_version}.
replace = Package version: {new_version}.
